<div class="flex min-h-screen">
  <div class="w-1/2">
    <div class="container px-10 my-14">
      <p class="text-4xl font-medium">Solicita tu prestamo <br>
        100% online</p>
        <button (click)="goBackToPreviousStep()">Atrás</button>
    </div>
    <div [formGroup]="loanForm" class="container px-10 my-14 grid grid-cols-2 gap-4">

      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Tasa de interes</mat-label>
        <input title="rate" matInput formControlName="rate" type="number" min="7.2" max="30" />
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Cantidad de cuotas</mat-label>
        <input title="amountPayments" matInput formControlName="amountPayments" type="number" min="60" max="300" />
        <!-- Validar el tamaño -->
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Valor de la propiedad</mat-label>
        <input title="propertyValue" matInput formControlName="propertyValue" type="number" min="65200" max="464200" />
        <!-- Validar el tamaño -->
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Monto del prestamo</mat-label>
        <input title="loanAmount" matInput formControlName="loanAmount" type="number" min="1" max="400000" />
        <!-- Validar el tamaño -->
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Seguro de gravamen</mat-label>
        <input title="lienInsurance" matInput formControlName="lienInsurance" type="number" min="0.001" max="100" />
        <!-- Validar el tamaño -->
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Seguro todo riesgo</mat-label>
        <input title="allRiskInsurance" matInput formControlName="allRiskInsurance" type="number" min="0.001" max="100" />
        <!-- Validar el tamaño -->
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Tipo de moneda</mat-label>
        <mat-select formControlName="currencyName">
          <mat-option *ngFor="let money of this.moneyOptions" [value]="money.id">
            {{ money.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Gastos administrativos</mat-label>
        <input title="administrativeExpenses" matInput formControlName="administrativeExpenses" type="number" min="0.001"
          max="100" />
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Gastos de envío</mat-label>
        <input title="postage" matInput formControlName="postage" type="number" min="0.001"
          max="100" />
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Comisiones</mat-label>
        <input title="commissions" matInput formControlName="commissions" type="number" min="0.001"
          max="100" />
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Cok</mat-label>
        <input title="cokRate" matInput formControlName="cokRate" type="number" min="0.001"
          max="100" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo de interes</mat-label>
        <mat-select formControlName="interestRateType">
          <mat-option *ngFor="let money of this.interestOptions" [value]="money.type">
            {{ money.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div appearance="fill">
        <mat-checkbox class="example-margin" formControlName="isGreenBonus">Bono de buen pagador sostenible</mat-checkbox>
      </div>

      <div appearance="fill">
        <mat-checkbox class="example-margin" formControlName="isGoodPayerBonus">Bono de buen pagador</mat-checkbox>
      </div>

    </div>
    <div class="grid grid-cols-6 gap-4 px-10 pb-8">
      <button mat-raised-button class="col-start-1 col-end-3" color="primary" (click)="onClear()">Limpiar</button>
      <button mat-raised-button class="col-end-7 col-span-2" color="accent" (click)="onLoanFormComplete()">Generar Simulador</button>

    </div>
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>

  </div>
  <div class="w-1/2 flex justify-center items-center" [ngStyle]="{'background-color': personalData.selectedBankColor}">
    <div class="absolute top-3 right-10">
      <div class="flex justify-center items-center w-12 h-12 bg-white bg-opacity-20 hover:bg-opacity-60 rounded-full transition duration-300">
        <button mat-icon-button (click)="logout()" matTooltip="Cerrar sesión" matTooltipPosition="below">
          <mat-icon class="text-white">logout</mat-icon>
        </button>
      </div>
    </div>
    <img *ngIf=" personalData.selectedBank == 2" src="../../../../assets/form_bcp.png" alt="BCP"
      class="w-1/2 object-cover">
    <img *ngIf=" personalData.selectedBank == 1" src="../../../../assets/form_ibk.png" alt="Interbank"
      class="w-1/2 object-cover">
  </div>
</div>
